- per_line = 3
- counter = 1
- @cms_other_articles.each do |cms_articlez|
  .col-sm-4
    .grid-view-home
      - word_limit = h truncate(cms_articlez.title, :length => 80)
      %h4= link_to word_limit, "/#{cms_articlez.slug}"