.sg-pattern-body
  %table.table-bordered
    %thead
      - @cms_other_articles.each do |cms_articlez|
        %tr
          %th{style: "33%"}
            = link_to cms_articlez.title, "/#{cms_articlez.slug}"
            %br
            %time
              = "#{time_ago_in_words(cms_articlez.updated_at)} ago"