:css
  .affix,.affix-top {
     position:static;
  }

  @media (min-width: 979px) {
    .fix-side-bar.affix-top {
      position: static;
      margin-top:25px;
    }
    
    .fix-side-bar.affix {
      position: fixed;
      top:25px;
    }
  }

- if @cms_articles.first.present?  
  %ul.tabs.tabs-v.fix-side-bar{id: current_user.present? ? "sort-tags" : nil , "data-update-url" => sort_tags_path}
    - @cms_articles.each do |cms_article|
      %li{id: cms_article.slug} 
        %a{href: "/#{cms_article.slug}"}
          - if current_user.present?
            %span.handle
              %i.glyphicon.glyphicon-align-justify
              &nbsp;
          = cms_article.tag
    %li{id: "Other", class: @selected_article == "other"  ? "active": nil}= link_to "Other articles", root_url(tag: "other")

:javascript
  $(".fix-side-bar").affix({
    offset: { 
     top: 150
    , bottom: function () {
        return (this.bottom = $('.col-sm-9').outerHeight(true))
      }
    }
  });
