.row
  .col-sm-3
    = render partial: "cms_articles/sidebar"
  .col-sm-9
    - if @cms_other_articles
      - if @cms_other_articles.first.present?
        - unless @setting.masonry
          = render partial: "cms_articles/list-view"
        -else
          = render partial: "cms_articles/grid-view"
    -else
      No Article To Display              

:javascript
  $(document).ready(function() {
    $("#editor > #input").hide();
    new WMD("input", "toolbar", { preview: "preview" });
    setTimeout(function(){GenereteChartInMarkdown();},5000);
  });