:css
  #pie-chart {
    width:150px;
    height:200px
  }  

  #election-donut-chart {
    width:150px;
    height:200px
  }  

  #donut-chart {
    width:150px;
    height:200px
  }  

  #line-chart {
    width:300px;
    height:200px
  }

  #data-table {
    width:300px;
    height:100px
  }

  #column-chart {
    width:300px;
    height:200px
  }

  #grouped-column-chart {
    width:300px;
    height:200px
  }
  #bar-chart {
    width:300px;
    height:200px
  }

  #stacked-column-chart {
    width:300px;
    height:200px
  }

  #maps {
    width:300px;
    height:200px
  }

  #api-charts {
    background-color: orange;
  }

:javascript
  var __locale = 'en';

= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js", "//assets-datawrapper.s3.amazonaws.com/globalize.min.js", "//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js", "//assets-datawrapper.s3.amazonaws.com/vendor/d3-light/3.1.7/d3-light.min.js", "//assets-datawrapper.s3.amazonaws.com/vendor/chroma-js/0.5.4/chroma.min.js", "/js/dw", "/js/dw.standalone", "/js/default"

%link{:href => "/css/default.css", :rel => "stylesheet", :type => "text/css"}
/ include chart types
%script{:src => "/vis/raphael-chart/raphael-chart.js", :type => "text/javascript"}
%link{:href => "/vis/raphael-chart/raphael-chart.css", :rel => "stylesheet", :type => "text/css"}
%script{:src => "/vis/line-chart/line-chart.js", :type => "text/javascript"}
%script{:src => "/vis/column-chart/column-chart.js", :type => "text/javascript"}
%script{:src => "/vis/bar-chart/bar-chart.js", :type => "text/javascript"}
%script{:src => "/vis/pie-chart/pie-chart.js", :type => "text/javascript"}
%script{:src => "/vis/donut-chart/donut-chart.js", :type => "text/javascript"}
%script{:src => "/vis/grouped-column-chart/grouped-column-chart.js", :type => "text/javascript"}
%script{:src => "/vis/stacked-column-chart/stacked-column-chart.js", :type => "text/javascript"}
%script{:src => "/vis/bar-chart/bar-chart.js", :type => "text/javascript"}
%script{:src => "/vis/data-table/data-table.js", :type => "text/javascript"}
%script{:src => "/vis/maps/maps.js", :type => "text/javascript"}
%script{:src => "/vis/election-donut-chart/election-donut-chart.js", :type => "text/javascript"}


#api-charts
  .row
    .col-sm-4
      %h1 Data Table
      #data-table

    .col-sm-4
      %h1 Line Chart
      #line-chart

    .col-sm-4
      %h1 Column Chart
      #column-chart

  .row    
    .col-sm-4
      %h1 Grouped Column Chart
      #grouped-column-chart

    .col-sm-4
      %h1 Stacked Column Chart
      #stacked-column-chart

    .col-sm-4
      %h1 Pie Chart
      #pie-chart


      /// From Here it is not working
  .row    
    .col-sm-4
      %h1 Donut Chart
      #donut-chart

    .col-sm-4
      %h1 Election Donut Chart
      #election-donut-chart

    .col-sm-4
      %h1 Bar Chart
      #bar-chart

    .col-sm-4
      %h1 Map
      #maps





:javascript

  // display a pie chart
  dw.visualize({
      type: 'pie-chart', 
      theme: 'default', 
      container: $('#pie-chart'),
      // this is how you would load a CSV data source
      datasource:   dw.datasource.delimited({ url: '/datasets/avg_time_on_site.csv' }),
      // options provided by the chart type
      // check http://datawrapper.de/api/visualizations for complete reference
      //options: { 'line-mode': 'curved', 'fill-below': true }
  });

  // display a donut chart
  dw.visualize({
      type: 'donut-chart', 
      theme: 'default', 
      container: $('#donut-chart'),
      // this is how you would load a CSV data source
      datasource:   dw.datasource.delimited({ url: '/datasets/avg_time_on_site.csv' }),


      // options provided by the chart type
      // check http://datawrapper.de/api/visualizations for complete reference
      options: { default: true}
  });

  // display a election donut chart
  dw.visualize({
      type: 'election-donut-chart', 
      theme: 'default', 
      container: $('#election-donut-chart'),
      // this is how you would load a CSV data source
      datasource:   dw.datasource.delimited({ url: '/datasets/avg_time_on_site.csv' }),
      // options provided by the chart type
      // check http://datawrapper.de/api/visualizations for complete reference
      options: { default: true}
  });

  // display a line chart
  dw.visualize({
      type: 'line-chart', 
      theme: 'default', 
      container: $('#line-chart'),
      // this is how you would load a CSV data source
      datasource: dw.datasource.delimited({ url: '/datasets/avg_time_on_site.csv' }),
      // options provided by the chart type
      // check http://datawrapper.de/api/visualizations for complete reference
      options: { 'line-mode': 'curved', 'fill-below': true }
  });


  // display a grouped column chart
  dw.visualize({
      type: 'grouped-column-chart',
      theme: 'default',
      container: $('#grouped-column-chart'),
      // in this case we connect to a custom data source

      datasource: dw.datasource.delimited({ url: '/datasets/import-export-data.csv' }),
  });

  // display a maps
  dw.visualize({
      type: 'maps',
      theme: 'default',
      container: $('#maps'),
      // in this case we connect to a custom data source

      datasource: dw.datasource.delimited({ url: '/datasets/import-export-data.csv' }),
  });

  // display a data table
  dw.visualize({
      type: 'data-table',
      theme: 'default',
      container: $('#data-table'),
      // in this case we connect to a custom data source

      datasource: dw.datasource.delimited({ url: '/datasets/data-table.csv' }),

  });

  // display a stacked column chart
  dw.visualize({
      type: 'stacked-column-chart',
      theme: 'default',
      container: $('#stacked-column-chart'),
      // in this case we connect to a custom data source

      datasource: dw.datasource.delimited({ url: '/datasets/import-export-data.csv' }),
  });

  // display a column chart
  dw.visualize({
      type: 'column-chart',
      theme: 'default',
      container: $('#column-chart'),
      // in this case we connect to a custom data source
      datasource: fakePiwikAPI('/datasets/piwikAPI.json', ['nb_uniq_visitors']),
  });

  function fakePiwikAPI(url, metrics) {
    return {
        dataset: function() {
            // create a Deferred to return later
            var dfd = $.Deferred();
            // call some external API or fetch some local data
            $.getJSON(url, function(data) {
                // first we collect all the data values for each column
                var columnData = {};
                $.each(data, function(date, row) {
                    if (!columnData.date) columnData.date = [];
                    columnData.date.push(date);
                    $.each(row, function(key, value) {
                        if (!columnData[key]) columnData[key] = [];
                        columnData[key].push(value);
                    });
                });
                // now we create the actual dw.column objects
                var columns = [];
                $.each(columnData, function(id, data) {
                    if (id == 'date' || metrics.indexOf(id) >= 0) {
                        columns.push(dw.column(id, data, id == 'date' ? 'date' : 'number'));
                    }
                });
                // and resolve the Deferred passing the loaded dw.dataset
                dfd.resolve(dw.dataset(columns));
            });
            // return the Deferred promise
            return dfd.promise();
        }
    }
  }