.row{style: "margin-top: 75px;"}
  .col-sm-3{style: "padding-bottom: 200px;"}
    = simple_form_for :user, url: "/login" do |f|
      = f.input :email
      = f.input :password
      %br
      = f.button :submit, "Login", name: "login", class: "btn alt", style: "width: 100px;"
