.row
  .col-sm-12           
    = simple_form_for(@setting, url: settings_path, html: {role: "form"}) do |f|
      %label 
        %strong Select View Type for Other Articles page.

      = f.input :masonry, collection: {"List View" => "o", "Grid View" => "m" }, label: false, include_blank: false

      = f.submit "Save", class: "btn alt", id: "submit", style: "width: 200px;"

%br      

