.row
  .col-sm-12
    %ul.breadcrumbs
      %li= link_to "Home", root_url
      %li &nbsp; &nbsp; Setting
      
%h2.headline Setting - Edit

.row
  .col-sm-6           
    = simple_form_for(@setting, url: settings_path, html: {role: "form"}) do |f|
      %label 
        %strong Select View type for Home Page

      = f.input :masonry, collection: {"One list text" => "o", "One masonry" => "m" }, label: false, include_blank: false

      = f.submit "Save Changes", class: "btn alt", id: "submit", style: "width: 100px;"

  .col-sm-6               
%hr      
