ul.pages{
    margin: 0;padding: 0;
    li{
        font-size: 0.750em;
        padding: 5px;
        cursor: pointer;
        list-style-type: none;
        a{
            color: #2E2E2E;
        }
    }
    li:hover{
        background: #eee;
    }
    li.active{
        background-color: #D3D3D3;
    }
}

#sort-tags .handle {
  font-size: 0.750em;
  color: #777;
  cursor: move;
}

.pykih-viz{
    margin: 50px 0px;
}

.grid-view-home {
    background-color: #DDDEE0;
    width: 200px;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:15px;
    padding-left:15px;
    position: relative;


}

.bullet { font: 0.625em sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 0.875em; font-weight: bold; }
.bullet .subtitle { fill: #999; }

.compare-custom-line-chart {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke-width: 4.5px;
  }
  .domain {
    display: none;
  }
}

.cross-filter-body {
    position: relative;
}

.cross-filter-charts {
    padding: 10px 0;
}

.cross-filter-chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
}

.cross-filter-body .reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
}

.cross-filter-body .background.bar {
    fill: #ccc;
}

.cross-filter-body .foreground.bar {
    fill: steelblue;
}

.cross-filter-body .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.cross-filter-body .axis text {
    font: 10px sans-serif;
}

.cross-filter-body .brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.cross-filter-body .brush .resize path {
    fill: #eee;
    stroke: #666;
}

.cross-filter-body #hour-chart {
    width: 260px;
}

.cross-filter-body #delay-chart {
    width: 230px;
}

.cross-filter-body #distance-chart {
    width: 230px;
}

.cross-filter-body #date-chart {
    width: 920px;
}

.cross-filter-body #flight-list {
    min-height: 0px;
}

.cross-filter-body #flight-list .date,
#flight-list .day {
    margin-bottom: .4em;
}

.cross-filter-body #flight-list .flight {
    line-height: 1.5em;
    background: #eee;
    width: 640px;
    margin-bottom: 1px;
}

.cross-filter-body #flight-list .time {
    color: #999;
}

.cross-filter-body #flight-list .flight div {
    display: inline-block;
    width: 100px;
}

.cross-filter-body #flight-list div.distance,
#flight-list div.delay {
    width: 160px;
    padding-right: 10px;
    text-align: right;
}

.cross-filter-body #flight-list .early {
    color: green;
}

.cross-filter-body aside {
    position: absolute;
    left: 740px;
    font-size: smaller;
    width: 220px;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

.imgBox  { 
    background-image: url('/assets/banner.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    height:300px;

}
.imgText { 
    margin: 0px; padding: 25px 0 0 0;
}

#header-box {
    height: 55px;
    border-bottom: 5px solid #333;
}

#header-box h3 {
    padding-top: 15px;
    font-style: normal;
}

.grid-view-layout {
    background: #DFDFDF;
    min-height: 150px;
    width: 48%;
    margin-left: 12px;
    margin-bottom: 10px;
}

li.menu{
    font-size: 0.9em
}

.filter-quarter-data {
    padding-right: 10px;
}
.popover{position:absolute;top:0;left:0;z-index:1010;display:none;max-width:276px;padding:1px;text-align:left;background-color:#fff;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);white-space:normal}
.popover.top{margin-top:-10px}
.popover.right{margin-left:10px}
.popover.bottom{margin-top:10px}
.popover.left{margin-left:-10px}
.popover-title{margin:0;padding:8px 14px;font-size:14px;font-weight:400;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0;font-style:normal !important}
.popover-content{padding:9px 14px}
.popover>.arrow,
.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.popover>.arrow{border-width:11px}
.popover>.arrow:after{border-width:10px;content:""}
.popover.top>.arrow{left:50%;margin-left:-11px;border-bottom-width:0;border-top-color:#999;border-top-color:rgba(0,0,0,.25);bottom:-11px}
.popover.top>.arrow:after{content:" ";bottom:1px;margin-left:-10px;border-bottom-width:0;border-top-color:#fff}
.popover.right>.arrow{top:50%;left:-11px;margin-top:-11px;border-left-width:0;border-right-color:#999;border-right-color:rgba(0,0,0,.25)}
.popover.right>.arrow:after{content:" ";left:1px;bottom:-10px;border-left-width:0;border-right-color:#fff}
.popover.bottom>.arrow{left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25);top:-11px}
.popover.bottom>.arrow:after{content:" ";top:1px;margin-left:-10px;border-top-width:0;border-bottom-color:#fff}
.popover.left>.arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.25)}
.popover.left>.arrow:after{content:" ";right:1px;border-right-width:0;border-left-color:#fff;bottom:-10px}


.label{
    position:absolute
}