ul.pages{
    margin: 0;padding: 0;
    li{
        font-size: 12px;
        padding: 5px;
        cursor: pointer;
        list-style-type: none;
        a{
            color: #2E2E2E;
        }
    }
    li:hover{
        background: #eee;
    }
    li.active{
        background-color: #D3D3D3;
    }
}

#sort-tags .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}        

.pykih-viz{
    margin: 50px 0px;
}

.grid-view-home {
    background-color: #DDDEE0;
    width: 200px;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:25px;
    padding-left:25px;


}