.row
  .col-sm-12
    #cross-filter-body.cross-filter-body
      #test-chart.cross-filter-charts
        #hour-chart.cross-filter-chart
          .title Time of Day
        #delay-chart.cross-filter-chart
          .title Arrival Delay (min.)
        #distance-chart.cross-filter-chart
          .title Distance (mi.)
        #date-chart.cross-filter-chart
          .title Date
      %aside#totals
        %span#active -
        of
        %span#total -
        flights selected.
      #lists
        #flight-list.list