= form_for(@viz_viz, url: update_viz_viz_path, :html => { role: "form" }) do |f|
  .form-group
    %strong.headline
      Title
    = f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true, style: "width: 400px;"
    = f.submit "Save", id: "submit", class: "btn alt", style: "width: 100px;"
